/*Princiapais*/
body {
    font-family: Arial, sans-serif;
    justify-items: center;
    align-items: center;
    text-align: center;
    background-color: rgb(245, 253, 254);
    color: #333;
    padding: 20px;
    max-width: 1300px;
    margin: auto;
    
}

header {
    color: #fdfdfd;
    padding: 10px 0;
}

main {
  text-align: right;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header:hover {
    background: #4b8e9f;
    color: #fff;
    opacity: 0.8;
    transition:  1s;
}

/*Posicionamento*/

.page-wrapper {
  position: relative;
}

.explanation {
    width: 60%;
    border-right: #1f295c solid 1px;
    padding-right: 2%;    
}

#design-selection {
    position: absolute;
    top: 560px;
    left: 65%;
    padding-right: 1%;
    padding-left: 1%;
}

.design-selection li {
    border-top: #1f295c solid 1px;
    padding-top: 10px;
}

.design-selection li:last-of-type {
    border-bottom: #1f295c solid 1px;
    padding-bottom: 5px;
}	



/*rodapé*/

.supporting footer {
    display: flex;;
    background: #4b8e9f;
    color: hwb(0 0% 100%);
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    border: #202020 1px outset;
}

.benefits {
    display: flex;
    border-top: #1f295c solid 1px;
    border-bottom: #1f295c solid 1px;
}

.benefits h3 {
    order: 2;
    align-self: center;
    flex-basis: 30%;
}

.benefits p {
    flex-basis: 70%;
}


.participation {
    display: flex;
    flex-wrap: wrap;
    border-top: #1f295c solid 1px;
    border-bottom: #1f295c solid 1px;

}

.participation h3 {
    flex-basis: 30%;
    align-self: center;
}

.participation p, .participation h3{
    flex-basis: 50%;
}


/*Introdução*/
.intro {
    height: 550px;
}

/*Designe archives*/

#design-archives {
    display: none;
}

/*Zen-intro header*/
#zen-intro header {
    background: #64cce6;
    color: hwb(0 0% 100%);
    padding: 10px 0;
    text-align: center;
    border-radius: 5px;
}

#zen-intro header h1, #zen-intro header h2 {
    display: inline-block;
}

#zen-intro header h1 {
    font-size: 2.5em;
    font-weight: 700;
    margin-left: 1em;
    margin-right: 1em;
}

/*Títulos*/

h1,h2,h3,h4,h5,h6 {
    font-family: 'Segoe UI', Verdana, sans-serif;
    justify-content: center;
    text-align: center;
    color: #202020;
    text-shadow: #4b8e9f 1px 1px 1px;
    line-height: 4em;
}
h1 {
    font-size: 1.8em;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
h2 {
    font-size: 1.4em;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
h3 {
    font-size: 1.2em;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

/*Links*/

.main footer a {
    color: #fdfdfd;
    background-color: #64cce6;
    text-decoration: none;
    font-weight: 700;
    margin: -10px;
    padding: 20px;
    border: #202020 1px solid;
    border-radius: 15px;
    
}

a:hover {
    color: #64cce6;
    text-decoration: underline;
    text-shadow: #202020 1px 1px 1px;
    font-weight: 800;
}

a {
    color: #333;
    text-decoration: none;
    text-shadow: #4b8e9f 1px 1px 1px;
    font-family: 'Segoe UI', Verdana, sans-serif;
    font-size: 1.08em;
    font-style: italic;
    font-weight: 500;
}

a:visited {
    font-weight: bolder;
    text-shadow: #202020 0.2em 0.2em 0.2em;
    font-size: 0.8em;
}

aside ul {
    list-style-type: none;
    line-height: 2em;

}



/*Paragrafos*/

p { 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main p:first-of-type::first-letter {
    font-size:3em;
    font-family: sans-serif;
}

/*Resumo do conteúdo*/
.summary {
    font-size: 1.5em;
    font-style: italic;
    font-weight: 450;
}

/*Conteúdo Principal*/
.main {
    font-size: 1.5em;
    font-style: italic;
    font-weight: 400;
}
/*Mídia Querry*/

@media screen and (max-width: 768px) {
    .design-selection {
        position: static;
        width: 100%;
    }
    .explanation {
        width: 100%;
        border-right: none;
    }
    #zen-intro {
        height: auto;
    }

    .participation {
        height: auto;
    }

    p{
        text-indent: 0;
    }
}

@media print {
    html {
        font-family: 'Times New Roman', Times, serif;
    }

    #zen-intro header {
        background: #fff;
        color: #1f295c;
    }
    .design-selection {
        position: static;
        width: 100%;
    }
    .explanation {
        width: 100%;
        border-right: none;
    }
}
